.header {

}

.con-main {

}

.buttons-list {
    list-style: none;
}

.btn-1{
    background-color: bisque;
    border: none;
    border-radius: 6px;
    width: 135px;
    height: 35px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px #0003, 0 6px 20px #00000030;
    color: lightslategray;
    
}

.btn-1:hover {
    background-color: blanchedalmond;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-2{

}

.btn-3 {

}

.btn-4 { 

}

.bnt-5 {

}

.btn-6 {

}